/* first-section */


.bg-section {
    background-image: url(../img/bg-image1.jpg);
    position: absolute;
    max-width: 1440px;
    width: 100%;
    height: 650px;
    left: 0px;
    top: 0px;
}
.header-one {
    padding: 30px 122px 0px 122px;
}
.bg-div {
    max-width: 1350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.br-rd-img {
    border-radius: 50px;
}
.wht-div {
    position: absolute;
    width: 741px;
    height: 537px;
    left: 63px;
    top: 384px;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
}
.wht-div-h2 {
    width: 521px;
    margin: 96px 0px 29px 127px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    line-height: 49px;
    color: #000000;
}
.wht-div-p {
    width: 515px;
    height: 96px;
    margin: 0px 0px 29px 127px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
}
#btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px 12px 16px;
    position: absolute;
    width: 250px;
    height: 65px;
    left: 125px;
    background: #F78065;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    color: #FFFFFF;
}
.mg-img {
    margin-right:8px ;
}
.orng-span {
    color: #F78065;
}

/* second-section */


.sc-section {
    width: 100%;
    margin-top: 1050px;
    display: flex;
    justify-content: center;
}
.sc-flex {
    width:1050px ;
    display: flex;
  justify-content: center;
    flex-wrap: wrap;
}
.sc-div-two {
    height: 211px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sc-black {
    color: black;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
}
.sc-gray {
    color: gray;
    font-style: normal;
}
.sc-orange {
   color: #F78065;
   font-style: normal;
   font-weight: bold;
}
.img4 {
    margin-bottom: 84px;
}
.small-sc:nth-child(1),
.small-sc:nth-child(2) {
    margin-right:40px ;
}

/* third-section */

.thr-section {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #000000;
}
.thr-flex-div {
    display: flex;
    max-width: 1050px;
    justify-content: center;
    flex-wrap: wrap;
}
.thr-wraper-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.small-th:nth-child(1),
.small-th:nth-child(2),
.small-th:nth-child(3) {
    margin-right:65px ;
}
.thr-black {
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 31px;
}
.thr-gray {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 16px;
}
.thr-gray-t {
    margin-bottom: 40px;
}
.thr-orange {
    font-size: 18px;
    line-height: 22px;
    color: #F78065;
    font-weight: bold;
}
.thr-h3 {
    font-size: 36px;
    line-height: 45px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 114px;
    margin-top: 240px;
}
.thr-img {
    margin-bottom: 70px;
}

/* fourth-section */

.frt-section {
    width: 100%;
    display: flex;
    justify-content: center;
}
.frt-wraper-div {
    width: 1150px;
    display: flex;
    justify-content: space-between;
    margin-top: 263px;
}
.frt-small-div {
    width: 325px;
}
.small-frt:nth-child(1),
.small-frt:nth-child(2) {
    margin-right:49px;
}
.frt-big-div {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.frt-h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #000000;
    margin-bottom: 32px;
}
.frt-p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 48px;
}
#btn-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px 12px 16px;
    width: 250px;
    height: 65px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background: #F78065;
}
.frt-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 8px;
    margin-top: 24px;
}
.frt-city {
    font-size: 14px;
    line-height: 17px;
    color: #3F3D56;
    margin-bottom: 11px;
}
.frt-a {
    font-size: 18px;
    line-height: 22px;
    color: #F78065;
} 

/* fivth-section */

.fv-section{
    display: flex;
    justify-content: center;
    width: 100%;
    color: #000000;
    padding-bottom: 251px;
}
.flex-wrap {
    display: flex;
    justify-content: center;
}
.fv-flex-div {
    display: flex;
    width: 1050px;
    flex-wrap: wrap;

}
.small:nth-child(1),
.small:nth-child(2) {
    margin-right:74px ;
}

.fv-h3 {
    font-size: 36px;
    line-height: 45px;
    color: #000000;
    font-weight: bold;
    margin: 240px 0px 114px 0px;
}
.fv-img {
    margin-bottom: 64px;
}
.fv-gray {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 16px;
}
.fv-black {
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 52px;
}
.fv-black-sc {
    margin-bottom: 24px;
}

/* footer */



footer {
    display: flex;
    justify-content: center;
    background-color:#F7F7F7;
    padding: 96px 0px 63px 0px ;
    width: 100%
}
.f-wraper-div {
    justify-content: space-between;
}
.child-div1 {
    display: flex;
}
.f-flex-div {
    display: flex;
    max-width: 700px;
}
.f-h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 16px;
}
.f-width {
    width: 310px;
}
.f-h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
}
.f-li-bold {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 26px;
}
.f-li-bold-sc {
    margin-bottom: 24px;
}
.f-li-gray {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 24px;
}
.f-line {
    width: 1050px;
    height: 0px;
    left: 103px;
    opacity: 0.2;
    border: 1px solid #000000;
    margin-top: 85px;
    margin-bottom: 28px;
}
.f-big-w {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.f-a {
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #000000;
}
.f-word {
    display: flex;
    width: 1050px;
    justify-content: space-between;
}
.f-words-flex {
    width: 400px;
    display: flex;
    justify-content: space-between;
} 
.small-f:nth-child(1),
.small-f:nth-child(2) {
    margin-right: 127px;
}